* {
  background-color: #f1f2f3;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(167, 167, 167);
}
